# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
pyvenv.cfg
.venv
pip-selfcheck.json
__pycache__
Checkpoint
LORA
Detail_Lora
Detail_Stable-diffusion
search_img